# 元组不仅仅是不可变的列表

除了用作不可变的列表，元组还可以用于没有字段名的记录。

## 元组和记录

因为元组是不可变的，所以如果把元组看作是一些字段的集合，那么数量和位置信息就变得非常重要了。

如下面一个例子中，元组的第一个元素表示国家代码，第二个元素表示护照ID。

In [1]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in traveler_ids:
    print(f'country_code:{passport[0]}, passport_number:{passport[1]}')

country_code:USA, passport_number:31195855
country_code:BRA, passport_number:CE342567
country_code:ESP, passport_number:XDA205856

## 元组拆包

拆包让元组可以完美地被当作记录来使用。

元组拆包可以引用到任何可迭代对象上，唯一要求就是，被可迭代的元素数量必须要跟接受这些元素的元组的空档数一致。除非使用了 * 表意忽略多余的元素。

如下面的几个例子：

In [2]:
# 平行赋值
lax_coordinates = (33.9425, -118.405056)
latitude, longitude = lax_coordinates

print(latitude, longitude)

33.9425 -118.405056

In [3]:
# 变量交换值
a = 'a'
b = 'b'
a, b = b, a

print(a, b)

b a

如果在元组中，有不需要的元素，可以使用 `_` 占位符来接收这些数据。

In [4]:
import os

_, filename = os.path.split('images/sqe.png')
filename

'sqe.png'

用 `*` 来处理多余元素

In [5]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

## 嵌套元组拆包

接受表达式的元组也可以是嵌套式的，例如 `(a, b, (c, d))`。只要这个接受元组的嵌套结构符合表达式本身的嵌套结构，Python就可以正确的响应。

如下面的例子

In [6]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.142, (40.808611, -74.020386)),
]

fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204

## 具名元组

`collections.namedtuple` 是一个工厂函数，它可以用来构建一个带字段名的元组和一个有名字的类。

创建一个具名元组需要两个参数，一个是类名，另一个是类的各个字段的名字。后者可以是由数个字符串组成的可迭代对象，或者是由空格分割开的字段名组成的字符串。

举例如下：

In [7]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

你可以通过字段名或者位置来获取一个字段的信息。

In [8]:
tokyo.coordinates

(35.689722, 139.691667)

In [9]:
tokyo[1]

'JP'

除了从普通元组哪里继承来的属性和方法外，具名元组还有一些自己特有的东西

`_fields` 属性是一个包含这个类所以字段名称的元组

In [10]:
City._fields

('name', 'country', 'population', 'coordinates')

`_make()` 可以接受一个可迭代对象来生成这个类的一个实例，其作用和 `City(*delhi_data)` 一样。

In [11]:
LatLong = namedtuple('LatLong', ('lat', 'long'))
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

`_asdict()` 把具名元组以 `collections.OrderedDict` 的形式返回。

In [12]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])